@model BusinessObjects.MOM.EditMeeting
@{
    ViewBag.Title = ViewBag.Id > 0 ? "Plan action" : "Current meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/contents/css/css/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/contents/js/bootstrap-combobox.js"></script>
<script src="~/contents/js/ckeditor/ckeditor.js" type="text/javascript"></script>
<link href="~/contents/css/css/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/contents/css/MOM.css" rel="stylesheet" />
<script src="~/contents/js/bootstrap-multiselect.js"></script>

<script src="~/JQuery/Mom.js?v=6"></script>

<style type="text/css">
    .fixed {
        top: 0;
        position: fixed;
        width: auto;
        display: none;
        border: none;
    }
</style>

<!-- body section start -->
<input type="hidden" id="hdnMeetingId" value="@Model.MoMId" />
<input type="hidden" id="hdnNotificationId" />
<div>
    <div class="container-fluid">
        <div class="row bodybackground">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row topbg">
                    <div class="col-xs-12 col-sm-12 col-md-12 top-offset-20 bottom-offset-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="black-color" style="margin-top:0px;">
                                    @if (ViewBag.Id > 0)
                                    {
                                        <img src="~/contents/img/planameeting.png" alt="" style="margin-right:15px;"><b>
                                            Plan action
                                        </b>

                                    }
                                    else
                                    {
                                        <img src="~/contents/img/CurrentMeeting.png" alt="" style="margin-right:15px;"><b>
                                            Current meeting
                                        </b>
                                    }
                                </h4>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 top-offset-20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row darkBlueblackbackground padding-10">
                        <h4 class="white-color pull-left" style="padding-left:5px;"><b>@(ViewBag.Id > 0 ? "Plan action" : "Current meeting")</b></h4>
                        <div class="col-xs-12 col-sm-6 col-md-4 pull-right">
                            <div class="input-group">
                                <input class="form-control" id="txtSearch_EditMoM" autocomplete="off" placeholder="Search">
                                <span class="input-group-btn" data-SearchFor="Search" data-CallFor="@Request["CallFor"]" onclick="return SearchMeetingNotifications(this);">
                                    <button type="submit" class="btn btn-blue"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                                <a id="clearSearch_EditMoM" class="removecrossicon hidden" data-SearchFor="Clear" onclick="return SearchMeetingNotifications(this);" data-CallFor="@Request["CallFor"]"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-12 whitebackground" style="box-shadow: 0 0px 0 #fff, 0 1px 6px rgba(0,0,0, 0.1);">
                    <div class="row top-offset-20">
                        @if (@Model.MeetingDate != null)
                        {
                            <div class="col-xs-12 col-sm-5 col-md-2">
                                <label>Meeting Date </label><span class="pull-right hidden-xs">:</span>
                            </div>
                            <div class="form-group has-feedback ">
                                <div class="col-xs-6 col-sm-4 col-md-3 bottom-offset-20">
                                    <label id="lblMeetingDate">@Model.MeetingDate</label>
                                    <input type="hidden" value="@Model.MoMId" id="hdnMomId" />
                                    <a onclick="return OpenMeetingDatePopup();" style="margin-left:2%; font-size:10px;">Edit</a>
                                </div>
                                <div class="col-md-7 col-sm-12">
                                    @{
                                        var id = Request.Url.Segments[3];
                                        if (Convert.ToInt32(id) > 0)
                                        {
                                            <a class="btn btn-blue pull-right btn-padding addsavenotification " hidden"" style="margin-left:4%" href="@Url.Action("Index", "MoM")"><img src="/contents/img/back-16.png"> Back </a>
                                        }
                                        else
                                        {
                                            <a onclick="return OpenEndMeeting();" class="btn btn-blue pull-right" style="margin-right:4%"><b>Close meeting</b></a>
                                        }
                                    }
                                    <button id="btnSaveUpdate" class="btn btn-dark-green pull-right btn-padding addsavenotification hidden" onclick="return Validate();"><img src="/contents/img/save.png"> @(Model.MoMId > 0 ? "Update" : "Save")</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <h2><center> No meeting has been scheduled yet.</center></h2>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="table-responsive notificationlist top-offset-20">
                                @if (Model.Notifications != null && Model.Notifications.Count > 0)
                                {
                                    <table class="table display fixedtable" id="tblNotificationMoM" cellspacing="0" style="border:1px solid #ccc;z-index:9;">
                                        <thead class="second-blackbackground">
                                            <tr style="border-bottom: 1px solid transparent !important;">
                                                <th rowspan="2">Notification</th>
                                                <th class="text-center" rowspan="2">Country</th>
                                                <th class="text-center" colspan="5">Action</th>
                                                <th class="text-center" rowspan="2"></th>
                                            </tr>
                                            <tr class="no-border">
                                                @if (Model.Actions != null)
                                                {
                                                    foreach (BusinessObjects.MOM.Action item in Model.Actions)
                                                    {
                                                        <th class="text-center">@item.ActionName</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody class="whitebackground">
                                            @if (Model.Notifications != null && Model.Notifications.Count > 0)
                                            {
                                                foreach (BusinessObjects.MOM.Notification_Mom objMOM in Model.Notifications)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="@Url.Action("NotificationView", "WTO", new { Id = objMOM.NotificationId, MOMId = @Model.MoMId,R=objMOM.RowNum,Total=objMOM.TotalRow})" class="red-color" target="_blank"><p class="red-color NotiNumber" data-toggle="tooltip" data-placement="bottom" title="@Html.Raw(HttpUtility.HtmlDecode(objMOM.Description))">@objMOM.NotificationNumber</p></a>
                                                            <p style="word-wrap:break-word; width:450px;">
                                                                <b>Title: </b> @objMOM.Title
                                                            </p>
                                                            <p>
                                                                @if (objMOM.NotificationGroup.Trim() != "")
                                                                {
                                                                    <b>Group : </b><span>@objMOM.NotificationGroup</span>
                                                                }
                                                            </p>
                                                            <p>
                                                                @if (objMOM.MeetingNote != "")
                                                                {
                                                                    <b><a onclick="OpenAddNote(@objMOM.NotificationId)">Note</a></b><span id="MeetingNoteId">@(objMOM.MeetingNote.Length > 40 ? ": " + objMOM.MeetingNote.Substring(0, 39) + "...." : ": " + objMOM.MeetingNote)</span>
                                                                }
                                                                else
                                                                {
                                                                    <b><a onclick="OpenAddNote(@objMOM.NotificationId)">Note</a></b><span id="MeetingNoteId"></span>
                                                                }
                                                            </p>
                                                        </td>
                                                        <td class="text-center">@objMOM.Country</td>

                                                        @foreach (BusinessObjects.MOM.Action item in Model.Actions)
                                                        {
                                                            if (Model.NotificationActions != null && Model.NotificationActions.Where(x => x.NotificationId == objMOM.NotificationId).Count() > 0)
                                                            {
                                                                var Action = Model.NotificationActions.FirstOrDefault(x => x.NotificationId == objMOM.NotificationId && x.ActionId == item.ActionId);
                                                                if (Action != null && (Action.ActionId >= 4 || (Convert.ToInt32(Action.MailId) > 0 && Action.ActionId < 4)))
                                                                {
                                                                    <td class="text-center">
                                                                        <span class="glyphicon glyphicon-ok dark-green-color font-20" id="span_@objMOM.ItemNumber"></span>
                                                                    </td>
                                                                }
                                                                else if (Action != null)
                                                                {
                                                                    <td class="text-center">
                                                                        <span class="glyphicon glyphicon-hourglass dark-green-color font-20" id="span_@objMOM.ItemNumber"></span>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="text-center">
                                                                        <span id="span_@objMOM.ItemNumber"></span>
                                                                    </td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td class="text-center"></td>
                                                            }
                                                        }

                                                        @if (objMOM.IsUpdate)
                                                        {
                                                            <td class="text-center"><a data-SearchFor="@objMOM.NotificationId" onclick="EditNotificationActions(this);"><img src="~/contents/img/bedit.png" /></a></td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="9"> No record found</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- body section End -->
<!--Plan action Popup start-->
@{ Html.RenderAction("GetNotificationPlanTakeAction", "AddNotification", new { Id = 0 }); }
<!--Plan action Popup End-->
<!--Meeting Date Popup start-->
<div class="modal fade selecthrmodal" id="ModelMeetingDate" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content selecthrcontent">
            <div class="modal-header selecthrheader">
                <button type="button" class="close selecthrclose" onclick="return CloseMeetingDatepopup();">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body selecthrbody">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 selecthrbodyinner" style="min-height:150px;">
                            <div class='col-xs-12 col-sm-12 col-md-12 top-offset-30'>
                                <div class="padding-bottom-10">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 bottom-offset-20">
                                            <h4 class="selecthrheading">Reschedule Meeting</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <p class="wto-label-bold dark-blue">Meeting Date <span class="pull-right hidden-xs">:</span></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <input type="text" class="form-control date-picker" style="cursor:pointer" value="@Model.MeetingDate" id="txtmeetingdate" onchange="return IsMeetingExists(@Model.MoMId);" />
                                            <i class="glyphicon glyphicon-calendar form-control-feedback blue-color"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 bottom-offset-20">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <a class="btn btn-red pull-right" onclick="return CloseMeetingDatepopup();">Close&nbsp;<span class="glyphicon glyphicon-remove"></span></a>
                                        <a class="btn btn-dark-green pull-right" style="margin-right:15px;" onclick="UpdateMeetingDate();"><img src="~/contents/img/save.png" />&nbsp;Save</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Meeting Date Popup end-->
<!--Meeting note Popup start-->
<div class="modal fade selecthrmodal" id="AddNote" role="dialog" data-backdrop="static" data-keyboard="false">
    @{ Html.RenderAction("GetNotificatioNote", "AddNotification"); }
</div>
<!--Meeting note Popup end-->

<div class="modal fade selecthrmodal" id="ModelEndMeeting" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content selecthrcontent">
            <div class="modal-header selecthrheader">
                <button type="button" class="close selecthrclose" onclick="return CloseEndMeeting();">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body selecthrbody">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 selecthrbodyinner" style="min-height:150px;">
                            <div class='col-xs-12 col-sm-12 col-md-12 top-offset-30'>
                                <div class="padding-bottom-10">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <h4 class="selecthrheading">Other Observation</h4>
                                            <hr />
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <textarea type="text" class="form-control AutoHeight" style="cursor:pointer" id="txtObservation"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 bottom-offset-20">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <a class="btn btn-red pull-right" onclick="return CloseEndMeeting();">Close&nbsp;<span class="glyphicon glyphicon-remove"></span></a>
                                        <a class="btn btn-dark-green pull-right" style="margin-right:15px;" onclick="return SaveEndMeeting();"><img src="~/contents/img/save.png" />&nbsp;Save & Continue</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade selecthrmodal" id="ModelMeetingSummary" role="dialog" data-backdrop="static" data-keyboard="false">
    @{ Html.RenderAction("GetMOMSummary", "MoM", new { Id = 0 }); }
</div>


<script type="text/javascript">
    (function ($) {
        $.fn.fixMe = function () {
            return this.each(function () {
                var $this = $(this),
                    $t_fixed;
                function init() {
                    $this.wrap('<div/>');
                    $t_fixed = $this.clone();
                    $t_fixed.find("tbody").remove().end().addClass("fixed").insertBefore($this);
                    resizeFixed();
                }
                function resizeFixed() {
                    $t_fixed.find("th").each(function (index) {
                        $(this).css("width", $this.find("th").eq(index).outerWidth() + "px");
                    });
                }
                function scrollFixed() {
                    var offset = $(this).scrollTop(),
                        tableOffsetTop = $this.offset().top,
                        tableOffsetBottom = tableOffsetTop + $this.height() - $this.find("thead").height();
                    if (offset < tableOffsetTop || offset > tableOffsetBottom)
                        $t_fixed.hide();
                    else if (offset >= tableOffsetTop && offset <= tableOffsetBottom && $t_fixed.is(":hidden"))
                        $t_fixed.show();
                }
                $(window).resize(resizeFixed);
                $(window).scroll(scrollFixed);
                init();
            });
        };
    })(jQuery);

    $(document).ready(function () {
        if ($(window).width() > 700) {
            $(".fixedtable").fixMe();
        }
    });
    $(window).scroll(function () {
        if (!$("#toggleOpenClose").hasClass("is-closed")) {
            $("#toggleOpenClose").click();
        }
    });
</script>
