@model BusinessObjects.MOM.MoMs
@{
    ViewBag.Title = "Scheduled meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- body section start -->
<link href="~/contents/css/MOM.css" rel="stylesheet" />
<div>
    <div class="container-fluid">
        <div class="row bodybackground">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row topbg">
                    <div class="col-xs-12 col-sm-12 col-md-12 top-offset-20 bottom-offset-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="black-color" style="margin-top:0px;"><img src="~/contents/img/meetingList.png" alt="" style="margin-right:15px;"><b>Meeting schedules</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 top-offset-20">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="row darkBlueblackbackground padding-10">
                                <h4 class="white-color" style="padding-left:5px;"><b>Meeting schedules</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-12 whitebackground" style="box-shadow: 0 0px 0 #fff, 0 1px 6px rgba(0,0,0, 0.1);">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="table-responsive notificationlist">
                                <table class="table table-bordered display top-offset-20 table-fixed" id="notificationlist" cellspacing="0" width="100%">
                                    <thead class="second-blackbackground">
                                        <tr style="border-bottom: 1px solid transparent !important;">
                                            <th class="width-15" rowspan="2">Meeting Date</th>
                                            <th class="width-25" style="padding-left: 5%;" colspan="2">Notifications</th>
                                            <th class="width-60 text-center" colspan="5">Action</th>
                                        </tr>
                                        <tr class="no-border padding-left-14">

                                            <th class="width-14">Total</th>
                                            <th class="width-14">Pending</th>
                                            @if (Model.Actions != null)
                                            {
                                                foreach (BusinessObjects.MOM.Action item in Model.Actions)
                                                {
                                                    <th class="text-center width-14">@item.ActionName</th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody class="whitebackground">
                                        @if (Model.MoMList != null && Model.MoMList.Count > 0)
                                        {
                                            foreach (BusinessObjects.MOM.MoM obj in Model.MoMList)
                                            {
                                                <tr>
                                                    <td class="width-15">
                                                        <p>   @obj.MeetingDate</p>
                                                        @if (obj.IsActive == false)
                                                        {
                                                            <a id="lnkMeetingSummary_@obj.MoMId" onclick="return MeetingSummary(@obj.MoMId);">Meeting Summary</a>
                                                        }
                                                    </td>
                                                    <td class="width-12"><a href="@Url.Action("Edit", "MoM", new { Id = obj.MoMId,CallFor="" })"><div class="span-badge">@obj.NotificationCount</div></a></td>
                                                    @if (obj.PendingCount > 0)
                                                    {
                                                        <td class="width-12"><a href="@Url.Action("Edit", "MoM", new { Id = obj.MoMId,CallFor="Pending" })"><div class="span-badge">@obj.PendingCount</div></a></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="width-12"><div class="span-badge">@obj.PendingCount</div></td>
                                                    }
                                                    @foreach (BusinessObjects.MOM.Action item in Model.Actions)
                                                    {
                                                        if (Model.MoMActionList != null && Model.MoMActionList.Count > 0)
                                                        {
                                                            var _Action = Model.MoMActionList.FirstOrDefault(x => x.MoMId == obj.MoMId && x.ActionId == item.ActionId);
                                                            if (_Action == null)
                                                            {
                                                                <td class="text-center width-12">0</td>
                                                            }
                                                            else if (_Action.ActionId == 4 || _Action.ActionId == 5)
                                                            {
                                                                <td class="text-center width-12">
                                                                    <a href="@Url.Action("Index", "NotificationList", new { PageIndex = 1, PageSize = 15, MeetingDate=obj.MeetingDate,ActionId=_Action.ActionId })">@_Action.TotalCount</a>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-center width-12">
                                                                    @if (_Action.PendingCount > 0)
                                                                    {
                                                                        <a href="@Url.Action("Index", "NotificationList", new { PageIndex = 1, PageSize = 15, MeetingDate=obj.MeetingDate,ActionStatus=9,ActionId=_Action.ActionId })"><span class="red-color">@_Action.PendingCount</span></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="red-color">@_Action.PendingCount</span>
                                                                    }
                                                                    /
                                                                    @if (_Action.TotalCount > 0)
                                                                    {
                                                                        <a href="@Url.Action("Index", "NotificationList", new { PageIndex = 1, PageSize = 15, MeetingDate=obj.MeetingDate,ActionId=_Action.ActionId })">@_Action.TotalCount</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="red-color">@_Action.TotalCount</span>
                                                                    }

                                                                </td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center width-12">0</td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="8">No Record found..</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- body section End -->

<div class="modal fade selecthrmodal" id="ModelMeetingSummary" role="dialog" data-backdrop="static" data-keyboard="false">
    @{ Html.RenderAction("GetMOMSummary", "MoM", new { Id = 6 }); }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() < 700) {
            $(".table").removeClass("table-fixed");
            $("th").removeClass("width-12 width-14 width-15 width-25 width-60 table-fixed");
            $("td").removeClass("width-12 width-14 width-15 width-25 width-60 table-fixed");
            $("tr").removeClass("padding-left-14 table-fixed");
        }

    })
    function MeetingSummary(MoMId) {
        $("#ModelMeetingSummary").load('MoM/GetMOMSummary/' + MoMId);
        $("#ModelMeetingSummary").modal('show');
        return false;
    }
</script>
