@model BusinessObjects.Notification.Dashboard_PendingCounts
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/contents/css/css/daterangepicker.css">
<link rel="stylesheet" href="~/contents/css/css/Dashboard.css" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/contents/js/moment.min.js"></script>
<script src="~/contents/js/daterangepicker.js"></script>

<body class="bgdashboard">
    <div>
        <div class="container-fluid">
            <!-- Notification History  start ---->
            <div class="row top-offset-20">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 shadowbox padding-bottom-20">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-8 top-offset-10">
                                <p class="texthead">Notification History</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 top-offset-10">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-light-green btn-padding">Monthly</button>
                                    <button type="button" class="btn btn-light-green btn-padding hidden">Monthly</button>
                                    <button type="button" class="btn btn-light-green btn-padding">weekly</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-offset-6 col-md-6 top-offset-20">
                                <div class="col-xs-12 col-sm-12 col-md-12 fullborder">
                                    <div class="col-xs-6 col-sm-3 padding-top-bottom-5">
                                        <div class="legend dark-gray Square"></div>
                                        <div class="countryName">
                                            <p class="margin-0">Lapsed</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 padding-0">
                                        <div class="legend dark-yellow Square"></div>
                                        <div class="countryName">
                                            <p class="margin-0">In Process</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 padding-0">
                                        <div class="legend dark-blue Square"></div>
                                        <div class="countryName">
                                            <p class="margin-0">Under Action</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 padding-top-bottom-5">
                                        <div class="legend medium-green Square"></div>
                                        <div class="countryName">
                                            <p class="margin-0">Closed</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <a href="#" class="leftArrow"><img src="~/contents/img/leftArrow.png" alt="leftArrow" /></a>
                                <a href="#" class="rightArrow"><img src="~/contents/img/rightArrow.png" alt="rightArrow" /></a>
                                <div id="chart_div" style="width:100%;height:450px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Notification History  End ---->

            <div class="col-xs-12 col-sm-12 col-md-12 shadowbox top-offset-20 bottom-offset-20">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 top-offset-20">
                        <p class="texthead" style="font-size:30px">Analysis for &nbsp;&nbsp;<span style="font-size:16px;">June 1 - June 30, 2018</span></p>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 top-offset-20">
                        <p>
                            <span class="pull-right texthead" id="reportrange" style="cursor:pointer;"><img src="~/contents/img/humbergur.png"></span>
                        </p>
                    </div>
                </div>

                <!-- HSCode start ---->
                <div class="row top-offset-20">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="col-xs-12 col-sm-12 col-md-12 shadowbox padding-bottom-20">
                            <div class="row">
                                <div class="col-xs-8 col-sm-6 col-md-8 top-offset-10">
                                    <p class="texthead">HS Codes</p>
                                </div>
                                <div class="col-xs-4 col-sm-6 col-md-4 top-offset-10">
                                    <p>
                                        <span class="pull-right texthead"><img src="~/contents/img/humbergur.png"></span>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <hr class="customehr" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row top-offset-20">
                                        <div class="col-xs-12 col-ms-6 col-md-4">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>All</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>300</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>02</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>20</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>004</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>10</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row top-offset-20">
                                        <div class="col-xs-12 col-ms-6 col-md-4">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>03</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>5</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>080</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>25</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>008</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>40</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row top-offset-20">
                                        <div class="col-xs-12 col-ms-6 col-md-4">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>0021</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>25</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>001</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>15</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>01</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>45</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row top-offset-20">
                                        <div class="col-xs-12 col-ms-6 col-md-4">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>005</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>25</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>060</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>15</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                            <a href="#" class="hscodelink">
                                                <div class="hscodeheader text-center">
                                                    <p>NO HS Codes</p>
                                                </div>
                                                <div class="hscodebody text-center">
                                                    <p>50</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="col-xs-12 col-sm-12 col-md-12 shadowbox padding-bottom-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-8 top-offset-10">
                                    <p class="texthead">By Country</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <hr class="customehr" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="hscodecount">
                                            <p>For HS Code  01</p>
                                            <p>Notifications &nbsp;&nbsp;&nbsp; 50 &nbsp;&nbsp;&nbsp; from &nbsp;&nbsp;&nbsp; 50 &nbsp;&nbsp;&nbsp; Countries  </p>
                                        </div>
                                        <div id="piechart" style="width:100%;height:400px;"></div>
                                        <div class="hscodelegend">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend light-red"></div>
                                                        <div class="countryName">
                                                            <p>Kuwait</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend mediam-red"></div>
                                                        <div class="countryName">
                                                            <p>Nepal</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend dark-red"></div>
                                                        <div class="countryName">
                                                            <p>Yemen</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend light-yellow"></div>
                                                        <div class="countryName">
                                                            <p>Albania</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend mediam-yellow"></div>
                                                        <div class="countryName">
                                                            <p>Austria</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend dark-yellow"></div>
                                                        <div class="countryName">
                                                            <p>China</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend dark-green"></div>
                                                        <div class="countryName">
                                                            <p>Benin</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend light-green"></div>
                                                        <div class="countryName">
                                                            <p>India</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend light-blue"></div>
                                                        <div class="countryName">
                                                            <p>Brazil</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend dark-blue"></div>
                                                        <div class="countryName">
                                                            <p>Oman</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="legend dark-green"></div>
                                                        <div class="countryName">
                                                            <p>Others</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HSCode End ------>
               
                <!-- Processing Status start ---->
                <div class="row top-offset-20">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 shadowbox padding-bottom-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 top-offset-10">
                                    <p class="texthead">Processing Status</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <hr class="customehr" />
                                </div>
                            </div>
                            <div class="row top-offset-20">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="col-xs-12 col-sm-12 shadowbox Processingbox">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 text-center head">
                                                <p class="font-size-16 top-offset-10 font-weight-600">Pending Full Text (S)</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                            <h1 class="totaltext">100 <sub class="subtext">Total</sub></h1>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-9 col-sm-9"><p>Mail Not Send</p></div>
                                                    <div class="col-xs-3 col-sm-3 text-right processingcount"><p>40</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-9 col-sm-9"><p>Response Not Received</p></div>
                                                    <div class="col-xs-3 col-sm-3 text-right processingcount"><p>35</p></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 sm-top-offset-20">
                                    <div class="col-xs-12 col-sm-12 shadowbox Processingbox">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 text-center head">
                                                <p class="font-size-16 top-offset-10 font-weight-600">Pending Translation</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                            <h1 class="totaltext">100 <sub class="subtext">Total</sub></h1>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-9 col-sm-9"><p>Mail Not Send</p></div>
                                                    <div class="col-xs-3 col-sm-3 text-right processingcount"><p>40</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-9 col-sm-9"><p>Response Not Received</p></div>
                                                    <div class="col-xs-3 col-sm-3 text-right processingcount"><p>35</p></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 sm-top-offset-20">
                                    <div class="col-xs-12 col-sm-12 shadowbox Processingbox">
                                        <div class="row text-center">
                                            <div class="col-xs-12 col-sm-12 col-md-12 head">
                                                <p class="font-size-16 top-offset-10 font-weight-600">To Send to Stakeholde</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                            <h1 class="totaltext">100 <sub class="subtext">Total</sub></h1>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-9 col-sm-9"><p>Response Received</p></div>
                                                    <div class="col-xs-3 col-sm-3 text-right processingcount"><p>20</p></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-9 col-sm-9"><p>Response Not Received</p></div>
                                                    <div class="col-xs-3 col-sm-3 text-right processingcount"><p>35</p></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 sm-top-offset-20">
                                    <div class="col-xs-12 col-sm-12 shadowbox Processingbox">
                                        <div class="row text-center">
                                            <div class="col-xs-12 col-sm-12 col-md-12 head">
                                                <p class="font-size-16 top-offset-10 font-weight-600">To Discuss</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                            <h1 class="totaltext">100 <sub class="subtext">Total</sub></h1>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-9 col-sm-9"><p>Meeting Not Planned</p></div>
                                                    <div class="col-xs-3 col-sm-3 text-right processingcount"><p>35</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-9 col-sm-9"><p>Meeting Planned</p></div>
                                                    <div class="col-xs-3 col-sm-3 text-right processingcount"><p>65</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Processing Status End ------>
                
                <!-- Action section start -->
                <div class="row top-offset-20">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 shadowbox">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 top-offset-10">
                                    <p class="texthead">Action</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <hr class="customehr" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6"></div>
                                <div class="col-xs-12 col-sm-6 col-md-6"></div>
                            </div>
                            <div class="row top-offset-20">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="table-responsive">
                                        <table class="table newdashboardtable">
                                            <thead class="head fulltext font-size-18">
                                                <tr>
                                                    <th>Action</th>
                                                    <th class="text-center">Notifications</th>
                                                    <th class="text-center">Completed</th>
                                                    <th class="text-center">Pending</th>
                                                    <th class="text-center">Overdue</th>
                                                </tr>
                                            </thead>
                                            <tbody class="font-size-18">
                                                <tr>
                                                    <td>
                                                        <div class="divsquar pink"></div>
                                                        Response to notifying country
                                                    </td>
                                                    <td class="text-center"><span class="sky-blue">50</span></td>
                                                    <td class="text-center">20</td>
                                                    <td class="text-center">25</td>
                                                    <td class="text-center"><span class="light-golden-yellow">05</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="divsquar golden-yellow"></div>
                                                        Brief to regulators
                                                    </td>
                                                    <td class="text-center">60</td>
                                                    <td class="text-center">20</td>
                                                    <td class="text-center"><span class="sky-blue">30</span></td>
                                                    <td class="text-center">10</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="divsquar dark-peach"></div>
                                                        Policy Brief to doc
                                                    </td>
                                                    <td class="text-center">55</td>
                                                    <td class="text-center">20</td>
                                                    <td class="text-center">30</td>
                                                    <td class="text-center">05</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="divsquar sea-green"></div>
                                                        No response needed
                                                    </td>
                                                    <td class="text-center">50</td>
                                                    <td class="text-center">19</td>
                                                    <td class="text-center">30</td>
                                                    <td class="text-center">---</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Action section End ---->
             
                <!-- Requests & Responses start ---->
                <div class="row top-offset-20 bottom-offset-20">
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <div class="col-xs-12 col-sm-12 col-md-12 shadowbox padding-bottom-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 top-offset-10">
                                    <p class="texthead">Requests & Responses</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <hr class="customehr" />
                                </div>
                            </div>
                            <div class="row top-offset-20">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="col-xs-12 col-sm-12 shadowbox">
                                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                            <h1 class="totaltext">100 <sub class="subtext">Total</sub></h1>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-8 col-sm-8"><p>Received</p></div>
                                                    <div class="col-xs-4 col-sm-4 text-right processingcount"><p>40</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-8 col-sm-8"><p>Not Received</p></div>
                                                    <div class="col-xs-4 col-sm-4 text-right processingcount"><p>60</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 text-center head">
                                                <p class="font-size-16 top-offset-10 font-weight-600">Request for full text</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 sm-top-offset-20">
                                    <div class="col-xs-12 col-sm-12 shadowbox">
                                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                            <h1 class="totaltext">100 <sub class="subtext">Total</sub></h1>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-8 col-sm-8"><p>Received</p></div>
                                                    <div class="col-xs-4 col-sm-4 text-right processingcount"><p>30</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-8 col-sm-8"><p>Not Received</p></div>
                                                    <div class="col-xs-4 col-sm-4 text-right processingcount"><p>40</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 text-center head">
                                                <p class="font-size-16 top-offset-10 font-weight-600">Requests for translation</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 sm-top-offset-20">
                                    <div class="col-xs-12 col-sm-12 shadowbox">
                                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                            <h1 class="totaltext">100 <sub class="subtext">Total</sub></h1>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-8 col-sm-8"><p>Respondants</p></div>
                                                    <div class="col-xs-4 col-sm-4 text-right processingcount"><p>20</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row bottom-border">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="row top-offset-10">
                                                    <div class="col-xs-8 col-sm-8"><p>Non-respondants</p></div>
                                                    <div class="col-xs-4 col-sm-4 text-right processingcount"><p>70</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col-xs-12 col-sm-12 col-md-12 head padding-0-0">
                                                <p class="font-size-16 top-offset-10 font-weight-600">Requests for stakeholder response</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="col-xs-12 col-sm-12 col-md-12 shadowbox padding-bottom-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 top-offset-10">
                                    <p class="texthead">Closed</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <hr class="customehr" />
                                </div>
                            </div>
                            <div class="row top-offset-20">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="col-xs-12 col-sm-12">
                                        <!-- <div class="col-xs-12 col-sm-12 col-md-12 text-center"> -->
                                        <!-- <h1 class="totaltext">100 <sub class="subtext">Total</sub></h1> -->
                                        <!-- </div> -->
                                        <div class="row head padding-top-bottom-15">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <p class="font-size-18 top-offset-10 font-weight-600">Action Closed</p>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                                                <p class="font-size-18 top-offset-10 font-weight-600">20</p>
                                            </div>
                                        </div>
                                        <div class="row head padding-top-bottom-15 top-offset-20">
                                            <div class="col-xs-8 col-sm-8 col-md-8">
                                                <p class="font-size-18 top-offset-10 font-weight-600">Lapsed</p>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                                                <p class="font-size-18 top-offset-10 font-weight-600">30</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Requests & Responses End ------>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var start = moment().subtract(29, 'days');
            var end = moment();
            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'HSCode'],
                ['Kuwait', 20],
                ['Nepal', 10],
                ['Yemen', 10],
                ['Albania', 100],
                ['Austria', 100],
                ['China', 200],
                ['Benin', 300],
                ['India', 500],
                ['Chile', 30],
                ['Oman', 30]
                ['Others', 30]
            ]);
            var options = {
                //	chartArea:{left:100,top:150},
                legend: "none",
                position: { top: 80 },
                tooltip: { textStyle: { color: '#1edec5', top: 150 }, backgroundColor: 'black', showColorCode: true },
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);

            var data = google.visualization.arrayToDataTable([
                ['Notification', 'Lapsed', 'In Process', 'Under Action', 'Closed', { role: 'annotation' }],
                ['Jan', 200, 100, 150, 50, ''],
                ['Feb', 250, 240, 150, 50, ''],
                ['Apr', 150, 50, 90, 10, ''],
                ['May', 200, 100, 100, 100, ''],
                ['Jun', 200, 100, 150, 50, ''],
                ['Jul', , , , , ''],
                ['Aug', , , , , ''],
                ['Sep', , , , , ''],
                ['Oct', , , , , ''],
                ['Nov', , , , , ''],
                ['dec', , , , , '']
            ]);

            var options = {
                chartArea: { left: 50, top: 20, width: "100%", height: "90%" },
                legend: 'none',
                isStacked: true,
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

</body>


<!-- body section start -->
@*<div>
        <div class="container-fluid">
            <div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 bottom-offset-20">
                        <div class="row topbg">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="black-color" style="margin-top:2.8%;"><b>Dashboard</b></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 lodingpanelDiv" style="background:#efefef;">
                        <div class='lodingPanel @(Model.PendingDiscussions.Sum(x => x.TotalPending) > -1 ? "hidden" : "")'>
                            <img src="~/contents/img/Dashboard_Loading.gif" />
                        </div>
                        <div class="row darkBlueblackbackground padding-10 bottom-offset-20">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="white-color">Pending Discussion (@Model.PendingDiscussions.Sum(x => x.TotalPending))</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 bottom-offset-20">
                                <div class="row padding-10">
                                    @foreach (BusinessObjects.Notification.Count_Discussion item in Model.PendingDiscussions)
                                    {
                                        <div class="col-xs-12 col-sm-3 col-md-3 sm-20-bottom">
                                            @if (@item.TotalPending > 0)
                                            {
                                                <div class="smalldiv">
                                                    <div class="col-xs-12 col-sm-12 whitebackground full rightbottom">
                                                        <div class="text-center dashbaorddiscussionicon @item.CssColor rightbottom">
                                                            <img src="~/contents/img/@item.Icon" alt="document" />
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 top-offset-30 bottom-offset-30">
                                                            <div class="row top-offset-30" >
                                                                <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                                                    @if (item.TotalPending > 0)
                                                                    {
                                                                        if (item.PendingFromUser > 0)
                                                                        {
                                                                            <h1 style="font-size: 25px;font-weight: bold;">
                                                                                <a href="@Url.Action("Index", "NotificationList", new { PageIndex = 1, PageSize = 10, StatusId = @item.StatusId, PendingFrom = "User" })" style="color: red;">@item.PendingFromUser</a>/<a href="@Url.Action("Index", "NotificationList", new { PageIndex = 1, PageSize = 10, StatusId = @item.StatusId })" style="color: inherit;">@item.TotalPending</a>
                                                                            </h1>
                                                                        }
                                                                        else
                                                                        {
                                                                            <h1 style="font-size: 25px;font-weight: bold;"><a href="@Url.Action("Index", "NotificationList", new { PageIndex = 1, PageSize = 10, StatusId = @item.StatusId })" style="color: inherit;">@item.TotalPending</a></h1>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <h1 style="font-size: 25px;font-weight: bold;">@item.TotalPending</h1>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 full-@item.CssColor text-center fixedbottom">
                                                                <p>@item.Status</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <a href="#" onclick="return false;" class="smalldiv">
                                                    <div class="col-xs-12 col-sm-12 whitebackground full rightbottom">
                                                        <div class="text-center dashbaorddiscussionicon @item.CssColor rightbottom">
                                                            <img src="~/contents/img/@item.Icon" alt="document" />
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 top-offset-30 bottom-offset-30">
                                                            <div class="row top-offset-30">
                                                                <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                                                                    <h1 style="font-size: 25px;font-weight: bold;">@item.TotalPending</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 full-@item.CssColor text-center fixedbottom">
                                                                <p>@item.Status</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="background:#efefef;">
                    <div class="col-xs-12 col-sm-12 col-md-12 lodingpanelDiv">
                        <div class='lodingPanel @(Model.PendingActions.Sum(x => x.Total) > -1 ? "hidden" : "")'>
                            <img src="~/contents/img/Dashboard_Loading.gif" />
                        </div>
                        <div class="row darkBlueblackbackground padding-10 bottom-offset-20">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="white-color">Pending Action (@Model.PendingActions.Sum(x => x.Total))</h4>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="col-xs-12 col-sm-12 col-md-12 bottom-offset-20">
                                <div class="row padding-10">
                                    @foreach (BusinessObjects.Notification.Count_Action item in Model.PendingActions)
                                    {
                                        <div class="col-xs-12 col-sm-4 col-md-4 sm-20-bottom">
                                            <div class="smalldiv">
                                                <div class="col-xs-12 col-sm-12 left-@item.CssColor-border whitebackground full rightbottom">
                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="row">
                                                            <div class="col-xs-6 col-sm-6 col-md-6 text-left">
                                                                <p class="action left-offset-20">Overdue</p>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                                                <p class="action right-offset-20">Total </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 bottom-offset-30">
                                                        <div class="row">
                                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                                <a href="@Url.Action("Index", "NotificationList", new { PageIndex = 1, PageSize = 10, ActionId = @item.ActionId,ActionStatus=10 })">
                                                                    <h1 class="red-color left-offset-30">@item.OverDue</h1>
                                                                </a>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                                                <a href="@Url.Action("Index", "NotificationList", new { PageIndex = 1, PageSize = 10, ActionId = @item.ActionId,ActionStatus=9 })">
                                                                    <h1 class="right-offset-15">@item.Total</h1>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 full-@item.CssColor-border text-center fixedbottom">
                                                            <p class="action">@item.Action</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- body section End -->
<script>
    $(function () {
        var start = moment().subtract(29, 'days');
        var end = moment();
        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start, end);
    });

    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'HSCode'],
            ['Kuwait', 20],
            ['Nepal', 10],
            ['Yemen', 10],
            ['Mongolia', 100],
            ['Afghanistan', 100],
            ['China', 200],
            ['Cambodia', 300],
            ['India', 500],
            ['Bangladesh', 30],
            ['Oman', 30]
        ]);
        var options = {
            legend: "none"
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);

        var data = google.visualization.arrayToDataTable([
            ['Notification', 'Lapsed', 'In Process', 'Under Action', 'Closed', { role: 'annotation' }],
            ['Jan', 200, 100, 150, 50, ''],
            ['Feb', 250, 240, 150, 50, ''],
            ['Apr', 150, 50, 90, 10, ''],
            ['May', 200, 100, 100, 100, ''],
            ['Jun', 200, 100, 150, 50, ''],
            ['Jul', , , , , ''],
            ['Aug', , , , , ''],
            ['Sep', , , , , ''],
            ['Oct', , , , , ''],
            ['Nov', , , , , ''],
            ['dec', , , , , '']
        ]);
        var options = {
            chartArea: { left: 50, top: 20, width: "100%", height: "90%" },
            //legend: {position: 'top', alignment: 'end', maxLines: 3, textStyle: {color: 'black', fontSize: 16 } },
            legend: 'none',
            isStacked: true,
            // Displays tooltip on selection.
            // tooltip: { trigger: 'selection' },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function SetCallFor(CallFor) {
        localStorage.setItem("CallFrom", "Dashboard");
        localStorage.setItem("Status", CallFor);
    }
</script>

@*<link rel="stylesheet" href="~/contents/css/css/daterangepicker.css">
    <link rel="stylesheet" href="~/contents/css/css/Dashboard.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/contents/js/moment.min.js"></script>
    <script src="~/contents/js/daterangepicker.js"></script>

    <style>
      .NoDataAvailable{
        width: 74.2%;
    }
    </style>

    <!-- body section start -->
    <div>
        <div class="container-fluid">
            <!-- Notification History  start ---->
            @{ Html.RenderAction("GetNotificationGraphData", "WTO", new { CallFor = "Monthly" }); }
            <!-- Notification History  End ---->

            <div class="col-xs-12 col-sm-12 col-md-12 shadowbox top-offset-20 bottom-offset-20">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 top-offset-20">
                        <p class="texthead" style="font-size:30px">Analysis for &nbsp;&nbsp;<span style="font-size:16px;">June 1 - June 30, 2018</span></p>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 top-offset-20">
                        <p>
                            <span class="pull-right texthead" id="reportrange" style="cursor:pointer;" ><img src="~/contents/img/humbergur.png" onchange="callfunction()"></span>
                        </p>
                    </div>
                </div>

                <!-- HSCode start ---->
                <div class="row top-offset-20">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        @{ Html.RenderAction("WTOGetHSCodeGraphData", "WTO"); }
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="col-xs-12 col-sm-12 col-md-12 shadowbox padding-bottom-20">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-8 top-offset-10">
                                    <p class="texthead">By Country</p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <hr class="customehr" />
                                </div>
                            </div>
                            @{ Html.RenderAction("WTOGetHSCodeDataByCountry", "WTO"); }
                        </div>
                    </div>
                </div>
                <!-- HSCode End ------>

                <!-- Processing Status start ---->
                @{ Html.RenderAction("WTODashboardProcessingStatus", "WTO"); }
                <!-- Processing Status End ------>

                <!-- Action section start -->
                @{ Html.RenderAction("GetDashboardAction", "WTO"); }
                <!-- Action section End ---->

                <!-- Requests & Responses start ---->
                @{ Html.RenderAction("WTODashboardRequestResponse", "WTO"); }
                <!-- Requests & Responses End ------>
            </div>
        </div>
    </div>

    <!-- body section End -->
    <script>
        google.charts.load("visualization", "1", { packages: ["corechart"] });
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawPieChart);
        $('#google-visualization-errors-0').css('display', 'none');

        $(function () {
            $(window).scrollTop('0px');
            var start = moment().subtract(29, 'days');
            var end = moment();
            function cb(start, end) {
                $('.texthead span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
               start = new Date(start);
               end = new Date(end);
               BindHsCode(start, end);
            }
            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });

        function SetCallFor(CallFor) {
            localStorage.setItem("CallFrom", "Dashboard");
            localStorage.setItem("Status", CallFor);
        }

        var DateFrom = '';
        var DateTo = '';
        function BindHsCode(startdate,enddate)
        {
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var month = monthNames[startdate.getMonth()];
            var year = startdate.getFullYear();
             DateFrom = startdate.getDate() + ' ' + month + ' ' + year;
            var month = monthNames[enddate.getMonth()];
            var year = enddate.getFullYear();
             DateTo = enddate.getDate() + ' ' + month + ' ' + year;

            var divHSCode = '';
            $.ajax({
                url: "/api/Dashboard/WTOGetHSCodeData",
                async: false,
                type: "POST",
                data: JSON.stringify({
                    HSCode: '',
                    DateFrom: DateFrom,
                    DateTo: DateTo
                }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $(result).each(function (index, value) {
                        if (value.NotificationCount > 0) {
                            if (index % 3 == 0)
                            {
                                divHSCode+="<div class='row top-offset-20'>";
                            }
                            divHSCode += '<div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">';
                            var Hscode = value.HSCode;
                            divHSCode += '<a class="hscodelink " data-HScode="'+Hscode+'" onclick="callpiechart(this);">';
                            divHSCode+='<div class="hscodeheader text-center">';
                            divHSCode+='<p>'+value.Text+'</p></div>';
                            divHSCode+='<div class="hscodebody text-center">';
                            divHSCode += '<p>' + value.NotificationCount + '</p></div> </a></div>';
                                        if (index % 3 == 2)
                            {
                                            divHSCode += "</div>";
                            }
                        }
                    })
                    if(divHSCode.length>0)
                        $('#divHSCode').html(divHSCode);
                    else
                    {
                        divHSCode+='<div class="row top-offset-20 text-center">';
                        divHSCode += '<img src="/contents/img/NoDataAvailable.png" class="NoDataAvailable" alt="NoDataAvailable" /></div>';
                        $('#divHSCode').html(divHSCode);
                    }
                    BindPieChart('0', DateFrom, DateTo);
                }
            });
        }
    </script>*@