@model List<BusinessObjects.Notification.RelatedStakeHolders>
@{
    Layout = null;
}
@*<input id="hdnCount" type="hidden" value='@Model.TotalCount' />
    <input type="hidden" id="hdnTotalItems" value="@Model.Pager.TotalItems" />
    @Html.Hidden("hdnPageIndex", "1")*@
<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="table-responsive nopaging adnotificationtable sentmail">
        <table class="table table-bordered display" id="notificationlist" cellspacing="0" width="100%">
            <thead class="second-blackbackground">
                <tr>
                    <th></th>
                    <th>Sr. No.</th>
                    <th>Stakeholder</th>
                    <th>HS Code</th>
                    <th>Stakeholder’s <br /> Mail Count</th>
                    @*<th>Response <br /> Received on</th>*@
                    <th>Response count</th>
                    <th>View mail</th>
                </tr>
            </thead>
            <tbody class="whitebackground">
                @if (@Model != null && @Model.Count > 0)
                {
                    foreach (var item in @Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="@item.StakeHolderId">
                            </td>
                            <td>@item.ItemNumber</td>
                            <td><label id="lblStakeHolderName_@item.StakeHolderId">@item.FullName</label></td>
                            <td>
                                @item.HSCodes
                            </td>
                            <td>@item.MailCount</td>
                            <td>@item.ResponseCount</td>
                            <td>
                                @*<span><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></span>*@
                                @*data-toggle="modal" data-target="#MailConversationPopUp"*@
                                <a style="cursor: pointer;" onclick="AutofillConversationPopUp(@item.StakeHolderId);">
                                    <span><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">No Record Found ...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        //if ($('#notificationlist tbody').find('input[type=checkbox]').length == 0) {
        if(@Model.Count == 0){
            $('#btnSendMailStakeHolder').hide();
            $('#btnRemoveStakeholder').hide();
        }
        else
        {
            $('#btnSendMailStakeHolder').show();
            $('#btnRemoveStakeholder').show();
        }
        $('#lblSatkeHolderCount').text(@Model.Count);
    });

    function AutofillConversationPopUp(SH_Id){
        var Notifi_Id = $('#hdnNotificationId').val();
        $("#MailConversationPopUp").load('/AddNotification/GetStakeholderConversation', { NotificationId: Notifi_Id, StakeholderId: SH_Id});
        $("#MailConversationPopUp").modal("show");

        $('#hdnStakeholderId').val(SH_Id);
    }
</script>