@model BusinessObjects.ManageAccess.PageLoad_CountryList
@{
    Layout = null;
}
<input id="hdnCountryId" type="hidden" value="0" />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <label class="table-heading">Countries (@Model.TotalCount)</label>
        <a href="#" class="btn btn-blue btn-padding pull-right" data-target="#AddCountry" onclick="AddCountryPopup();" data-toggle="modal">Add Country</a>
        <div class="table-responsive nopaging notificationlist top-offset-20" st>
            <table class="table table-bordered">
                <thead class="second-blackbackground">
                    <tr>
                        <th class="col-sm-1">S.No</th>
                        <th class="col-sm-4">Country Name</th>
                        <th class="text-center col-sm-2">SPS Enquiry Point</th>
                        <th class="text-center col-sm-2">TBT Enquiry Point</th>
                        <th class="col-sm-1">Status</th>
                        <th class="text-center col-sm-1">Edit</th>
                        <th class="text-center col-sm-1">Delete</th>
                    </tr>
                </thead>
                <tbody class="whitebackground">
                    @if (@Model.CountryList != null)
                    {
                        foreach (var item in @Model.CountryList)
                        {
                            <tr>
                                <td>@item.ItemNumber</td>
                                <td>@item.CountryName (@item.CountryCode)</td>
                                <td class="text-center">
                                    @if (item.EnquiryEmail_SPS != "")
                                    {
                                        <span class="glyphicon glyphicon-ok dark-green-color"></span>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.EnquiryEmail_TBT != "")
                                    {
                                        <span class="glyphicon glyphicon-ok dark-green-color"></span>
                                    }
                                </td>
                                @if (@item.Status == 1)
                                {
                                    <td>Active</td>
                                }
                                else
                                {
                                    <td>Inactive</td>
                                }
                                <td class="text-center"><a href="#" onclick="EditCountryData(@item.CountryId);"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td class="text-center"><a href="#" class='@(@item.IsInUse? "hidden":"")' onclick="Confirm('Delete','Do you want to delete the @item.CountryName ?','Yes', 'No', 'DeleteCountry(@item.CountryId)');"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No Record Found ...</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>