@model BusinessObjects.ManageAccess.PageLoad_RegulatoryBodyList
@{
    Layout = null;
}
<input id="hdnRegulatoryBodiesId" type="hidden" value="0" />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <label class="table-heading">Regulatory Bodies (@Model.TotalCount)</label>
        <a href="#" class="btn btn-blue btn-padding pull-right" data-target="#AddRegulatoryBodies" onclick="AddRegulatoryBodyPopup();" data-toggle="modal">Add Regulatory Body</a>
        <div class="table-responsive nopaging notificationlist top-offset-20" st>
            <table class="table table-bordered">
                <thead class="second-blackbackground">
                    <tr>
                        <th class="col-sm-1">S.No</th>
                        <th class="col-sm-3">Name</th>
                        <th class="text-center col-sm-2">Email</th>
                        <th class="text-center col-sm-3">Address</th>
                        <th class="text-center col-sm-2">Contact</th>
                           <th class="col-sm-1">Status</th>
                        <th class="text-center col-sm-1">Edit</th>
                        <th class="text-center col-sm-1">Delete</th>
                    </tr>
                </thead>
                <tbody class="whitebackground">
                    @if (@Model.RegulatoryBodiesList != null)
                    {
                        foreach (var item in @Model.RegulatoryBodiesList)
                        {
                            <tr>
                                <td>@item.ItemNumber</td>
                                <td>@item.Name</td>
                                <td>
                                    @item.Emailid
                                </td>
                                   <td>
                                 @item.Address
                                </td>
                                <td class="text-center">
                                   @item.Contact
                                </td>
                                @if (@item.Status == 1)
                                {
                                    <td>Active</td>
                                }
                                else
                                {
                                    <td>Inactive</td>
                                }
                                <td class="text-center"><a href="#" onclick="EditRegulatoryBodyData(@item.RegulatoryBodyId);"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td class="text-center"><a href="#" class='@(@item.IsInUse? "hidden":"")' onclick="Confirm('Delete','Do you want to delete the @item.Name ?','Yes', 'No', 'DeleteRegulatoryBody(@item.RegulatoryBodyId)');"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No Record Found ...</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Add Regulatory Bodies modal popup Start-->

<div class="modal fade selecthrmodal" id="AddRegulatoryBodies" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog selecthrdialog">
        <div class="modal-content selecthrcontent" style="height:auto">
            <div class="modal-header selecthrheader">
                <button type="button" class="close selecthrclose" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body selecthrbody">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 selecthrbodyinner">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="selecthrheading" id="AddRegulatoryBodiespopupHead">Add Regulatory Body</h4>
                                <hr>
                            </div>
                            <form class="form-horizontal top-offset-20" action="/action_page.php">
                                <div class="form-group">
                                    <label class="control-label col-sm-3"> Name<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="RegulatoryBodyName" onkeypress="return ValidateBodyName(this);" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Email<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <input type="Email" class="form-control" id="RegulatoryBodyEmailId" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"> Contact:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="RegulatoryBodyContact" onkeypress="return ValidateBodyContact(this);" maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3"> Address:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="3" id="RegulatoryBodyAddress" maxlength="500" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Status<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="RegulatoryBodyselectstatus">
                                            <option value="">---Select Status---</option>
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" id="RegulatoryBodySaveUpdate" class="btn btn-dark-green btn-block btn-padding" onclick="RegulatoryBodiesvalidate();">Save</a>
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-red btn-block btn-padding" data-dismiss="modal">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Regulatory Bodies modal popup End-->