@model BusinessObjects.ManageAccess.PageLoad_StakeHolderList
@{
    Layout = null;
}
<input id="hdnStakeHolderId" type="hidden" value="0" />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <label class="table-heading">Stakeholders (@Model.TotalCount)</label>
        <a href="#" class="btn btn-blue btn-padding pull-right bottom-offset-10" data-target="#AddStakeholder" onclick="AddStakeHolderPopup()" data-toggle="modal">Add Stakeholder</a>
        <div class="table-responsive nopaging notificationlist top-offset-20">
            <table class="table table-bordered table-fixed">
                <thead class="second-blackbackground">
                    <tr>
                        @*<th>S.No</th>
                        *@
                        <th class="col-xs-3">Stakeholder Name</th>
                        <th class="col-xs-6">Email Id</th>
                        <th class="col-xs-1 padding-right-20">Status</th>
                        <th class="col-xs-1 padding-right-20">Edit</th>
                        <th class="col-xs-1 padding-right-20">Delete</th>
                    </tr>
                </thead>
                <tbody class="whitebackground">
                    @if (@Model.StakeHolderList != null)
                    {
                        foreach (var item in @Model.StakeHolderList)
                        {
                            <tr>
                                @*<td>@item.ItemNumber</td>
                                *@
                                <td class="col-xs-3">@item.StakeHolderName</td>
                                <td class="col-xs-6">@item.Email</td>
                                @if (@item.Status == 1)
                                {
                                    <td class="col-xs-1 text-right">Active</td>
                                }
                                else
                                {
                                    <td class="col-xs-1 text-right">Inactive</td>
                                }
                                <td class="textright col-xs-1"><a href="#" onclick="EditStakeHolderData(@item.StakeHolderId);"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td class="textright col-xs-1"><a href="#" class='@(@item.IsInUse ? "hidden" : "")' onclick="Confirm('Delete','Do you want to delete the @item.StakeHolderName ?','Yes', 'No', 'DeleteStakeHolder(@item.StakeHolderId)');"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                    }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">No Record Found ...</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Add Stakeholder modal popup Start-->

<div class="modal fade selecthrmodal" id="AddStakeholder" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog selecthrdialog">
        <div class="modal-content selecthrcontent" style="height: auto;">
            <div class="modal-header selecthrheader">
                <button type="button" class="close selecthrclose" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body selecthrbody">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 selecthrbodyinner">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="selecthrheading" id="AddStackholderpopupHead">Add Stakeholder</h4>
                                <hr>
                            </div>
                            <form class="form-horizontal top-offset-20 defaultdiv">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Full Name<sup class="mandetory">*</sup><span class="hidden-xs">:</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="stakeholderName" maxlength="50" onkeypress="return isAlpha(event);">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Email<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <input type="Email" class="form-control" id="stackholderEmailId" maxlength="70">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Organization<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="stakeholderOrganization" maxlength="100" onkeypress="return isAlpha(event);">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Designation<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="stakeholderDesignation" maxlength="100" onkeypress="return isAlpha(event);">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Status<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="stakeholderselectstatus">
                                            <option value="-1">---Select Status---</option>
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="control-label col-sm-3">Address<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <textarea id="stackholderAddress" class="form-control" cols="30" rows="2" maxlength="1000"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3">State<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="stackholderState" maxlength="20" onkeypress="return isAlpha(event);">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 padding-0">City<sup class="mandetory">*</sup>:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="stackholderCity" maxlength="20" onkeypress="return isAlpha(event);" style="margin-left: 12px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5">PIN<sup class="mandetory">*</sup>:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="stackholderPIN" maxlength="6" onkeypress="return isNumeric(event);" style="margin-left: 12px;">
                                        </div>
                                    </div>
                                </div>
                                *@


                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-4">
                                        <a href="#" class="btn sky-blue" onclick="selectstakeholderHscode();">Select HS Code</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-offset-3 col-sm-9 " style="color: #000; text-align: left;">Selected HSCode<sup class="mandetory">*</sup>:</label>
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <p id="SelectedHscode" style="color: #000; margin-top: 5PX;"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" id="StakeholderSaveUpdate" class="btn btn-dark-green btn-block btn-padding bottom-offset-10 searchbtndiv" onclick="stakeholdervalidate();">Save</a>
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-red btn-block btn-padding" data-dismiss="modal">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Stakeholder modal popup End-->
<!-- select HSCode for stakeholder modal popup start -->

<input type="hidden" id="hdnstakeholderHscode" class="form-control">

<div class="modal fade selecthrmodal " id="selectstakeholderHscode" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg selecthrdialog">
        <!-- Modal content-->
        <div class="modal-content selecthrcontent">
            <div class="modal-header selecthrheader">
                <button type="button" class="close selecthrclose" onclick="openAddStakeholder();">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body selecthrbody">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 selecthrbodyinner">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="selecthrheading">HSCodes Description</h4>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 bottom-offset-10">
                                <div class="input-group">
                                    <input type="text" id="HSCodeSearchTxt" class="form-control selecthrsearchtextbox" placeholder="HSCode/Description">
                                    <span class="input-group-btn">
                                        <button id="searchhscodebtn" class="btn btn-blue" type="button" onclick="SearchHSCode();">Search</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-2 bottom-offset-10">
                                <a href="#" class="btn btn-red pull-right" onclick="clearSearchtxt();">Clear</a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 ">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <a href="#" class="btn btn-light-blue btn-block selectbtn" onclick="SelectHSCode();">Select</a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <a href="#" class="btn btn-red btn-block" onclick="openAddStakeholder();">Close</a>
                                    </div>
                                </div>
                            </div>
                            <!-- jstree start -->
                            <div class="col-xs-12 col-sm-12 col-md-12s">
                                <div class="row mail-count-height top-offset-20">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div id="HSCodeTree" class="demo top-offset-30 bottom-offset-40">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- jstree End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- select hr modal popup start -->

<script type="text/javascript">
    $(document).ready(function () {
        GetStackholderHSCode();
        if ($(window).width() < 700) {
            $(".table").removeClass("table-fixed");
            $("th").removeClass("col-xs-1 col-xs-3 col-xs-6 table-fixed");
            $("td").removeClass("col-xs-1 col-xs-3 col-xs-6 table-fixed");
        }


        $(".defaultdiv").bind('keydown', function (e) {
            if (e.which === 13) {
                $(".doAction").click();
                $(this).find(".searchbtndiv").click();
                return false;
            }
        });


    })
</script>
