@model List<BusinessObjects.Notification.HSCodeGraphData>
@{
    Layout = null;
}
<input type="hidden" id="hdnSelectedHSCodes" />
<div class="col-xs-12 col-sm-12 col-md-12 shadowbox padding-bottom-20">
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-8 top-offset-10">
            <p class="texthead">HS Codes</p>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 top-offset-10">
            <p>
                <span class="pull-right texthead"><img src="~/contents/img/humbergur.png" style="cursor:pointer" data-toggle="modal" data-target="#selecthr" onclick="bindhscodeUId();"></span>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <hr class="customehr" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" id="divHSCode">   
                @{int i = 0; }
                @foreach (BusinessObjects.Notification.HSCodeGraphData ac in Model)
                {
                    if (i % 3 == 0)
                    {
                     @Html.Raw("<div class='row top-offset-20'>")                              
                     }
                            <div class="col-xs-12 col-ms-6 col-md-4 sm-top-offset-20">
                                <a class="hscodelink " data-HScode="@ac.HSCode" onclick="callpiechart(this);">
                                    <div class="hscodeheader text-center">
                                        <p>@ac.Text</p>
                                    </div>
                                    <div class="hscodebody text-center">
                                        <p>@ac.NotificationCount</p>
                                    </div>
                                </a>
                            </div>
                    if (i % 3 == 2)
                    {
                        @Html.Raw("</div>")
                    }
                    i++;
                }
</div>
    </div>
</div>
<!-- select HSCodes modal popup start -->
<div class="modal fade selecthrmodal" id="selecthr" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg selecthrdialog">
        <!-- Modal content-->
        <div class="modal-content selecthrcontent">
            <div class="modal-header selecthrheader">
                <button type="button" class="close selecthrclose" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body selecthrbody">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 selecthrbodyinner" style="height:auto;">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <h4 class="selecthrheading">HSCodes description</h4>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group">
                                    <input type="text" id="HSCodeSearchTxt" class="form-control selecthrsearchtextbox" placeholder="HSCode/Description">
                                    <span class="input-group-btn">
                                        <button id="searchhscodebtn" class="btn sky-blue bottom-offset-10" type="button" onclick="SearchHSCode();">Search <span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <a class="btn btn-dark-red bottom-offset-10" onclick="clearSearchtxt();">Clear <span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 ">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <a class="btn btn-dark-green btn-block bottom-offset-10" onclick="SaveHSCode();"><img src="~/contents/img/save.png" /> Save</a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <a class="btn btn-red btn-block bottom-offset-10" data-dismiss="modal">Close <span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- jstree start -->
                            <div class="col-xs-12 col-sm-12 col-md-12s">
                                <div class="row mail-count-height top-offset-16">                
                                    <div class="col-xs-12 col-sm-12 col-md-12 top-offset-10" style="height: 345px;">
                                        <div id="HSCodeTree" class="bottom-offset-40">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- jstree End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- select HSCodes modal popup End -->
